  /* *-*-*-*-*-*-*- Colors *-*-*-*-*-*-*------------------------ */
$color-primary: rgb(248, 250, 252);
$color-secondary: rgb(82, 214, 244);
$color-tertiary: rgb(140, 139, 138);

$color-quaternary: hsl(192, 40%, 42%);
$color-quaternary-m-l: hsla(192, 40%, 42%, 0.1);
$color-quaternary-m-d: hsla(192, 40%, 42%, 0.8);

$color-quinary: rgb(53, 54, 56);

$color-senary: rgb(255, 255, 255);

$color-septenary: rgb(59, 130, 246);

  /* *-*-*-*-*-*-*- Family *-*-*-*-*-*-*------------------------ */
$font-family-main: "Montserrat", sans-serif;
$font-family-sub: "Varta", sans-serif;